* {
  box-sizing: border-box;
  font-family: Helvetica;
  color: #424748;
}
body {
  margin: 0;
  height: 100vh;
  display: grid;
  grid-template-rows: 50px 1fr;
  grid-template-areas:
    "nav"
    "main"
}
body > nav {
  grid-area: nav;
  background-color: black;
  color: white;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0 20px 0 30px;
}

nav > img {
  width: 34px;
  object-fit: contain;
  margin-right: auto;
}

body > main {
  grid-area: main;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #ffffff;
  padding: 20px;
  overflow-y: scroll;
}

nav > a {
  margin: 20px;
  text-decoration: none;
  padding: 10px;
  border-radius: 5px;
  color: white;
}

nav > a:hover {
  color: white;
  background-color: gray;
}

nav > a.active {
  color: black;
  background-color: rgb(246, 214, 33);
}
.login {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 34px;
}
.login img {
  height: 30px;
}
section {
  width: 360px;
  margin: 10px;
  display: flex;
  align-items: center;
}
span {
  font-weight: 700;
}
.button {
  text-decoration: none;
  color: black;
  background-color: #87d7f6;
  border: 1px solid #87d7f6;
  border-radius: 5px;
  padding: 8px;
  font-size: 16px;
  font-weight: 700;
  margin-top: 10px;
  text-align: center;
}
.book-details {
  display: flex;
  flex-direction: column;
  font-size: 16px;
  margin-left: 10px;
}
#delete-book {
  background-color: rgb(154, 43, 43);
  border: 1px solid rgb(154, 43, 43);
  color: white;
}
.bottom-buttons {
  display: flex;
  width: 100%;
  justify-content: space-around;
}
input:hover {
  background-color: gray;
  color: white;
}
#review-date {
  color: gray;
  font-size: 10px;
}
#edits-review, #adds-review {
  border: none;
  background-color: white;
}
#edits-review:hover, #adds-review:hover {
  background-color: gray;
  color: white;
}
.review {
  display: flex;
  flex-direction: column;
}
.menu-review {
  display: flex;
  justify-content: space-evenly;
  border: none;
  background-color: white;
  cursor: pointer;
}
.review-date { 
  font-size: 12px;
} 
.parent-review {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px; 
}
.posted-review { 
  grid-area: 1 / 1 / 2 / 2; 
  z-index: 0;
  font-size: 14px;
}
.edit-review-form { 
  display: none;
  grid-area: 1 / 1 / 2 / 2; 
  z-index: 1;
}
.add-review-form {
  display: none;
  margin-top: 10px;
}