* {
  box-sizing: border-box;
  font-family: Helvetica;
  color: #424748;
}
body {
  margin: 0;
  height: 100vh;
  display: grid;
  grid-template-rows: 50px 1fr;
  grid-template-areas:
    "nav"
    "main"
}
body > nav {
  grid-area: nav;
  background-color: black;
  color: white;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0 20px 0 30px;
}

nav > img {
  width: 34px;
  object-fit: contain;
  margin-right: auto;
}

body > main {
  grid-area: main;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #ffffff;
  padding: 20px;
  overflow-y: scroll;
}

nav > a {
  margin: 20px;
  text-decoration: none;
  padding: 10px;
  border-radius: 5px;
  color: white;
}

nav > a:hover {
  color: white;
  background-color: gray;
}

nav > a.active {
  color: black;
  background-color: rgb(246, 214, 33);
}

.login {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 34px;
}

.login img {
  height: 30px;
}

section {
  width: 360px;
  margin: 10px;
  display: flex;
  align-items: center;
}
section > div {
  margin: 10px;
  font-size: 12px;
}
div > span {
  font-weight: 700;
}